.section {
  .section--h3Or {
    font-family: $os;
    font-weight: 800;
    width: 100%;
    font-size: $fz*2.6;
    color: rgb(241, 101, 34);
    position: relative;
    text-decoration: none;
    line-height: 1;
    white-space: wrap;
    overflow-wrap: break-word;
    &:after {
      content: '';
      position: absolute;
      background-color: #ea8e1b;
      width: 40%;
      height: 3.5px;
      right: 30rem;
      left: 30rem;
      bottom: -0.8rem;

    }
  }
  .section--h3Or__wl {
    font-size: $fz*3;
    &:after {
      content: '';
      display: none;
    }
  }
}

.aboutCranDelimo {

  position: relative;
  .aboutCranDelimo--head {
    @extend %flex-block;
    .aboutCranDelimo--head--h4 {
      font-size: $fz*2;
      text-align: center;
    }
    .aboutCranDelimo--head--h4__winter {
      color: #3978a6;
    }
    .aboutCranDelimo--head--h4__summer {
      color: #d1261f;
    }
  }

  .rightLine {
    border-right: 3px solid #666666;
  }

  .aboutCranDelimo--body {
    width: 100%;

    .aboutCranDelimo--body--table {
      width: 100%;

      .aboutCranDelimo--body--table--head__left {
        border-left: 2px solid #666;
        border-right: 2px solid #666;
      }
      .aboutCranDelimo--body--table--head__right {
        border-right: 2px solid #666;
        border-left: 2px solid #666;
      }
      .aboutCranDelimo--body--table__spase {
        height: 1.5rem;
      }
      td {
        padding: 15px;
        text-align: center;
      }
      .aboutCranDelimo--body--table--leftTd {
        background-color: #4795CC;
        color: #fff;
      }
      .aboutCranDelimo--body--table--right__y {
        background-color: #FFD21C;
        color: #fff;
      }
      .aboutCranDelimo--body--table--right__o {
        background-color: #FA7B3C;
        color: #fff;
      }
      .aboutCranDelimo--body--table--right__r {
        background-color: #CC1D14;
        color: #fff;
      }

    }
  }
  .rightLine--o {
    border-right: 1px solid rgb(241, 101, 34);
  }
  .aboutCranDelimo--photo {
    @extend %flex-block;
    justify-content: center;
    width: 100%;
    .aboutCranDelimo--photo--img {
      width: 90%;

    }
    .aboutCranDelimo--photo--img__crane {
      width: 50%;
    }
  }
  .aboutCranDelimo--text {

    .aboutCranDelimo--text--p {
      font-family: $os;
      font-weight: 700;
      font-size: $fz*1.5;
      padding-left: 1rem;
      text-align: center;
    }

  }
  &:after {
    content: "";
    position: absolute;
    overflow: hidden;
    height: 120px;
    width: 100%;
    transform: rotate(2.3deg);
    bottom: -75px;
    background: #fff;
    left: 6px;
  }
}

.catalog {
  .catalog--h3 {
    padding: 0.5rem 3rem;
    background-color: #fff;
    border: 2px solid #93d095;
    margin-top: 12rem;
    border-radius: 100px;
    font-size: $fz*3.2;
    font-family: $os;
    font-weight: 700;
  }
  .catalog--h3__super {
    margin-top: 2rem;
    color: rgb(238, 29, 36);
  }
  .catalog--productContainer {
    background-color: #fff;
    border: 2px solid #93d095;
    border-radius: 50px;
    font-family: $os;
    font-weight: 700;
    font-size: $fz*1.5;
    .catalog--productContainer--h5 {
      font-size: $fz*2.6;
      font-weight: 700;
    }
    .catalog--productContainer--h5__forKey {
      font-size: $fz*2;
    }
    .catalog--productContainer--p {
      font-size: $fz*2;

    }

    .catalog--productContainer--ul {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        background-image: url(../img/quality.png);
        background-repeat: no-repeat;
        background-size: 50%;
        top: 1rem;
        left: 26rem;
        width: 50%;
        height: 50%;
        z-index: 10;

      }
    }
    ul.catalog--productContainer--ul.g__left {
      &:after {
        left: -9rem;
      }

    }
    .catalog--productContainer--block {
      @extend %flex-block;
      justify-content: center;
      width: 80%;
      .catalog--productContainer--block--craneImg {
        width: 100%;
        padding-top: 3rem;
      }
    }
    .catalog--productContainer--block__forKey {
      width: 100%;
      padding-left: 1.5rem;
      .catalog--productContainer--block--craneImg {
        padding-top: 0.5rem;
      }
    }
    .catalog--productContainer--costBlock {
      display: flex;
      white-space: nowrap;
      flex-wrap: nowrap;
      padding-top: 3rem;
      width: 50%;
      .catalog--productContainer--costBlock--left {
        .catalog--productContainer--costBlock--left--p {
          font-size: $fz*1.8;
          margin-bottom: 0;
          s {
            font-size: $fz*2;
          }
        }
        .catalog--productContainer--costBlock--left--p__red {
          font-size: $fz*2.3;
          color: #FF0000;
          text-align: right;
          padding-right: 2.5rem;
        }
      }

      .catalog--productContainer--costBlock--right {
        padding-left: 2rem;
        .catalog--productContainer--costBlock--right--btn {
          background: rgb(226, 84, 64);
          border-right: 5px;
          border-style: solid;
          border-top-width: 1px;
          border-bottom-width: 3px;
          border-left-width: 1px;
          border-right-width: 1px;
          border-color: rgb(202, 51, 30);
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 12px;
          padding-right: 12px;
          font-size: 20px;
          max-height: 3rem;
          color: rgb(255, 255, 255);
          font-family: "Open Sans";
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);

        }
      }
    }
    .catalog--productContainer--costBlock__forKey {
      flex-wrap: wrap;
      flex-direction: column;
      padding-top: 0;
      justify-content: flex-end;
      width: 100%;
      padding-top: 1rem;
      .qualityB {
        display: flex;
        justify-content: flex-end;
        .quality {
          width: 30%;
          height: 30%;
        }
      }

      .catalog--productContainer--costBlock--left {
        justify-content: flex-end;
        margin-right: 1rem;
        .catalog--productContainer--costBlock--left--p__red__forKey {
          text-align: right;
          padding-right: 0;
        }
      }
      .catalog--productContainer--costBlock--left--p__forKey {
        text-align: right;
      }

      .catalog--productContainer--costBlock--right__forKey {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
        .catalog--productContainer--costBlock--right--btn__forKey {
          background: rgb(226, 84, 64);
          border-right: 5px;
          border-style: solid;
          border-top-width: 1px;
          border-bottom-width: 3px;
          border-left-width: 1px;
          border-right-width: 1px;
          border-color: rgb(202, 51, 30);
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 12px;
          padding-right: 12px;
          font-size: 20px;
          max-height: 3rem;
          color: rgb(255, 255, 255);
          font-family: "Open Sans";
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
          margin-top: 1rem;
        }
      }

    }
  }
  .key--p {
    font-weight: 500;
    font-size: $fz*1.3;
    padding: 1rem 4rem 1.5rem 4rem;

  }

}

.advantages {

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  .orLineBlock {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
    .orLine {
      background-color: #ea8e1b;
      width: 60%;
      height: 3.5px;
    }
  }
  .advantages--h6 {
    font-size: $fz*2;
    font-weight: 700;
    text-align: right;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #333;
  }
  .advantages--p {
    font-family: $os;
    font-size: $fz*1.2;
    font-weight: 700;
    text-align: right;
    line-height: 1;
  }
}

.advantages__left {
  .orLineBlock {
    justify-content: flex-end;
  }
  .advantages--h6 {
    text-align: right;
  }
  .advantages--p {
    text-align: right;
  }
}

.advantages__right {
  .orLineBlock {
    justify-content: flex-start;
  }
  .advantages--h6 {
    text-align: left;
  }
  .advantages--p {
    text-align: left;
  }
}

.imgBlock {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  width: 100%;
  .advantages--img {
    width: 100%;
    height: 400px;
  }
}

.denger-text {
  font-size: $fz*2;
  color: #ee1d24;
  font-weight: 700;
}

.videoLine {
  position: relative;
  left: 0;
  right: 0;
  background-color: #8cd000;
  min-height: 10rem;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .videoLine--pBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    margin-top: 4rem;
    .videoLine--p {

      display: block;
      font-size: $fz*2.5;
      color: $c;
      font-weight: 500;
      text-align: left;
    }
  }

  .videoLine--imgBlock {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    min-height: 18rem;
    justify-content: center;
  }
  .videoLine--monitor {
    display: flex;
    justify-content: center;
    z-index: 15;
    background-image: url('../img/monitor.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 16rem;
  }
  iframe#player {
    margin: 13px 2px;
    width: 95%;
    height: 190px;
  }

}

.testimonials {
  background-image: url(../img/testimonials-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .testimonials--h3 {
    padding: 0.5rem 3rem;
    background-color: #fff;
    border-radius: 100px;
    font-size: $fz*3.2;
    font-family: $os;
    text-align: center;
    font-weight: 100;
  }
  .testimonials--testimonialContainer {
    background-color: #fff;
    border: 2px solid #93d095;
    border-radius: 50px;
    font-family: $os;
    font-weight: 700;
    font-size: $fz*1.5;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .testimonial--imgBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .testimonials--testimonial--img {
      display: block;
      width: 120px;
      height: 120px;
      padding: 0.5rem;
      border-radius: 50%;
      text-align: center;
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }

  .testimonial--p {
    display: block;
    font-family: $ff;
    font-size: $fz*1.3;
    font-weight: 100;
    padding: 1rem;
  }
  .testimonial--p__l {
    text-align: right;
  }
  .testimonial--p__r {
    text-align: left;
  }
  .testimonial--name {
    display: block;
    width: 100%;
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }
  .testimonial--pContainer {
    display: flex;
    align-items: center;
  }
}

.section--h3Black {
  font-family: $ff;
  font-weight: 800;
  width: 100%;
  font-size: $fz*3;
  color: #000000;
  position: relative;
  text-decoration: none;
  line-height: 1;
  white-space: wrap;
  overflow-wrap: break-word;
  &:after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 40%;
    height: 3.5px;
    right: 30rem;
    left: 30rem;
    bottom: -0.8rem;
  }
}
.rightLine__b {
  border-right: 3px solid #666666;
}
.advantages--h6__us {
  font-size: $fz*1.5;
  margin-bottom: 0.3rem;
}
.advantages--p__us {
  margin-bottom: 0.3rem;
  font-size: $fz*1.2;
}
.whyus--imgBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  .whyus--img {
    width: 100%;

  }
}
.advantages--h6__us__left,
.advantages--p__us__left {
  text-align: right;
}
.main-6-container {
  margin: auto;
}

.main-6-container p {
  text-align: center;
  font-size: 30px;
  padding-bottom: 60px
}

.faq {
  font-size: 15px;
  line-height: 20px;
  margin-right: 20px;
  margin-left: 20px
}

.faq-red {
  padding: 10px;
  min-height: 40px;
  color: #CF2119;
  text-transform: uppercase;
  border: 1px solid #CF2119;
  border-radius: 5px;
  position: relative
}

.faq-black {
  padding: 10px 10px 30px 10px
}

.pipa-right,
.pipa-left {
  position: absolute;
  right: -12px;
  bottom: 10px;
  width: 12px;
  height: 20px;
  background: url(../img/pipa_right.png) center center no-repeat
}

.pipa-left {
  left: -12px;
  background: url(../img/pipa_left.png) center center no-repeat
}
.wus {
  position: relative;
  z-index: 6;
  .warning {
    padding-bottom: 5rem;
  }
  &:after {
    content: "";
    position: absolute;
    overflow: hidden;
    height: 120px;
    width: 100%;
    transform: rotate(2.3deg);
    bottom: -75px;
    background: #fff;
    left: 6px;
    z-index: 2;
  }
}

.hww--h3 {
  padding: 0.5rem 3rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 100px;
  font-size: $fz*3.2;
  font-family: $os;
  text-align: center;
  font-weight: 100;
}