@media only screen and (max-width: 1200px) {
  .headform--container {
    .crane {
      padding-left: 0;
    }
  }
  .prise {
    .prise--img {
      width: 80%;
      right: -2rem;

    }
    &:before {
      right: 5.2rem;
    }
    &:after {
      right: 1.8rem;
    }
  }
  .catalog .catalog--productContainer .catalog--productContainer--costBlock__forKey .catalog--productContainer--costBlock--right__forKey button.catalog--productContainer--costBlock--right--btn {
    margin-top: 0;
  }
}

@media only screen and (max-width: 992px) {
  header nav.bg-green {
    background-color: #8cd000;
  }
  .headform--container .headform--container--form .phoneForm {
    width: 100%;
    .phoneForm--in {
      width: 100%;
      input {
        width: 100%;
      }
    }

  }
  .headform--container .hit {
    right: 230px;
  }
  div.timer div.timer--Cont.timer--Cont_end {
    justify-content: center;
  }
  .section {
    .section--h3Or {
      &:after {
        content: '';
        display: none;
      }
    }
  }
  .catalog .catalog--productContainer .catalog--productContainer--ul:after {
    background-size:50%;
    top:28rem;
    left:20rem;
    width:40%;
    height:50%;
    z-index:10;
  }
  .prise {

    &:before {
      right: 12.2rem;
    }
    &:after {
      right: 7.8rem;
    }
  }
  .catalog .catalog--productContainer .catalog--productContainer--ul:after {
    display: none;
  }
  .wus .section--h3Black {
    &:after {
      content: '';
      display: none;
    }
  }
}
@media only screen and (max-width: 768px) {
  .prise {

    &:before {
      right: 7.2rem;
    }
    &:after {
      right: 3.8rem;
    }
  }
}
@media only screen and (max-width: 555px) {
  .green-block {

    min-height: 130px;

  }
  .headform--container .hit {
    right: 150px;
  }
  .catalog .catalog--productContainer .catalog--productContainer--ul:after {
    left:10rem;
  }

  .catalog .catalog--productContainer .catalog--productContainer--costBlock {
    flex-wrap: wrap;
    justify-content: center;
    white-space: pre-wrap;
    .catalog--productContainer--costBlock--right--btn {
      margin-bottom: 2rem;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .catalog .catalog--productContainer .catalog--productContainer--costBlock .catalog--productContainer--costBlock--right {
    margin-left: 0;
  }
  .catalog .catalog--productContainer .catalog--productContainer--costBlock {
    white-space: pre-wrap;
  }
  .catalog .catalog--productContainer .catalog--productContainer--costBlock .catalog--productContainer--costBlock--left .catalog--productContainer--costBlock--left--p__red,
  .catalog .catalog--productContainer .catalog--productContainer--costBlock .catalog--productContainer--costBlock--right .catalog--productContainer--costBlock--right--btn
  {
    margin-top: -11rem;
  }
  .prise {
    flex-direction: column;
    top: 24rem;
    right: 0rem;
    justify-content: center;
  }
  .prise {
    text-shadow: 1px 1px 1px #000;
    .prise--img {
      display: none;
    }
    &:before {
      right: 13.2rem;
      top: 8rem;
    }
    &:after {
      right: 9.8rem;
      top: 9.8rem;
    }
  }

}

@media only screen and (max-width: 424px) {
  .header-container {
    background-size: cover;
  }
  .headform--container {
    .hit {
      right: 100px;
    }
    .crane {
      justify-content: center;
    }
  }

  .section {
    .section--h3Or {
      font-size: $fz*2;
    }
  }


}

@media only screen and (max-width: 369px) {
  .green-block {

    min-height: 200px;

  }
  .catalog .catalog--productContainer ul.catalog--productContainer--ul.g__left:after {
    left: 0rem;
    top: -62rem;
  }

}
