//Variables
$ff: Calibri; //main font
$fz: 15px; //font size
$c: #fff; //font color
$os: "Open Sans"; // h3 font (google fonts)
//********************************************************************************
//Extend variables
%flex-block {
  display: flex;
  align-items: center;
}
//********************************************************************************
//Main styles
.bg-green{
  background-color: #8cd0008f;
}
section.section {
  overflow: hidden;
}
//Import files
@import "_style-start.scss";
@import "_animations.scss";
@import "_head.scss";
@import "_phone--form.scss";
@import "_content.scss";
@import "_footer.scss";
@import "_media.scss";

